<%- include('../includes/head.ejs')%>

<body>
    <%- include('../includes/nav.ejs')%>

<div class="container mt-5">
    <form method="POST" action="/admin/edit-product">
        <div class="row mb-3">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
            <input name="title" type="text" class="form-control" id="title" value="<%= product.title %>">
            </div>
        </div>
        <div class="row mb-3">
            <label for="price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
            <input name="price"type="number" class="form-control" id="price" value="<%= product.price %>">
            </div>
        </div>
        <div class="row mb-3">
            <label for="imgUrl" class="col-sm-2 col-form-label">imgUrl</label>
            <div class="col-sm-10">
            <input name="imgUrl"type="text" class="form-control" id="imgUrl" value="<%= product.imgUrl %>">
            </div>
        </div>
        <div class="row mb-3">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea name="description" id="description" cols="30" rows="10"><%= product.title %></textarea>
            </div>
        </div>
        <input type="hidden" name="prod_id" value="<%= product.id %>">
        <button type="submit" class="btn btn-primary">Editar</button>
    </form> 
</div>
   
</body>